---
karakeep_enabled: false
karakeep_available_externally: false

# directories
karakeep_data_directory: "{{ docker_home }}/karakeep"

# network
karakeep_port: "3029"
karakeep_search_port: "7701"
karakeep_hostname: "karakeep"
karakeep_network_name: "karakeep"

# specs
karakeep_web_memory: 1g
karakeep_chrome_memory: 1g
karakeep_search_memory: 1g

# docker
karakeep_web_container_name: karakeep-web
karakeep_web_image_name: "ghcr.io/karakeep-app/karakeep"
karakeep_web_image_version: "release"
karakeep_search_container_name: karakeep-search
karakeep_search_image_name: "getmeili/meilisearch"
karakeep_search_image_version: "v1.13.3"
karakeep_chrome_container_name: karakeep-chrome
karakeep_chrome_image_name: "gcr.io/zenika-hub/alpine-chrome"
karakeep_chrome_image_version: "124"
karakeep_user_id: "1000"
karakeep_group_id: "1000"

# karakeep
karakeep_data_dir: "/data"
karakeep_nextauth_url: "https://{{ karakeep_hostname }}.{{ ansible_nas_domain }}"
karakeep_nextauth_secret: "iVfxDV9JZlcBCRjsk4f+TZlMf6GelJ0Q1KVQCG46m4xPTdi4"
karakeep_meili_addr: "http://{{ karakeep_search_container_name }}:7700"
karakeep_meili_master_key: "Ot5yRmb6WVnKhwnAdMGEtgBjd0bu6PD5z+PtavENImfsr1ml"
karakeep_meili_no_analytics: "true"
karakeep_disable_signups: "false"
karakeep_disable_password_auth: "false"
karakeep_oauth_wellknown_url: ""
karakeep_oauth_client_secret: ""
karakeep_oauth_client_id: ""
karakeep_oauth_scope: "openid email profile"
karakeep_oauth_provider_name: "Custom Provider"
karakeep_oauth_allow_dangerous_emailo_account_linking: "false"
karakeep_max_asset_size_mb: "4"
karakeep_disable_new_release_check: "false"
karakeep_openai_api_key: ""
karakeep_openai_base_url: ""
karakeep_ollama_base_url: ""
karakeep_ollama_keep_alive: ""
karakeep_inference_text_model: "gpt-4o-mini"
karakeep_inference_image_model: "gpt-4o-mini"
karakeep_inference_lang: "english"
karakeep_embedding_text_model: "text-embedding-3-small"
karakeep_inference_context_length: "2048"
karakeep_inference_job_timeout_sec: "30"
karakeep_crawler_num_workers: "1"
karakeep_browser_web_url: "http://{{ karakeep_chrome_container_name }}:9222"
karakeep_browser_websocket_url: ""
karakeep_browser_connect_ondemand: "false"
karakeep_crawler_download_banner_image: "true"
karakeep_crawler_store_screenshot: "true"
karakeep_crawler_full_page_screenshot: "false"
karakeep_crawler_full_page_archive: "false"
karakeep_crawler_job_timeout_sec: "60"
karakeep_crawler_navigate_timeout_sec: "30"
karakeep_crawler_video_downaload: "false"
karakeep_crawler_video_downaload_max_size: "50"
karakeep_crawler_video_downaload_timeout_sec: "600"
karakeep_crawler_enable_adblocker: "true"
karakeep_ocr_cache_dir: "$TEMP_DIR"
karakeep_ocr_langs: "eng"
karakeep_ocr_confidence_threshold: "50"

karakeep_env:
  DATA_DIR: "{{ karakeep_data_dir | default(omit, true) }}"
  NEXTAUTH_URL: "{{ karakeep_nextauth_url | default(omit, true) }}"
  NEXTAUTH_SECRET: "{{ karakeep_nextauth_secret | default(omit, true) }}"
  MEILI_ADDR: "{{ karakeep_meili_addr | default(omit, true) }}"
  MEILI_MASTER_KEY: "{{ karakeep_meili_master_key | default(omit, true) }}"
  MEILI_NO_ANALYTICS: "{{ karakeep_meili_no_analytics | default(omit, true) }}"
  DISABLE_SIGNUPS: "{{ karakeep_disable_signups | default(omit, true) }}"
  DISABLE_PASSWORD_AUTH: "{{ karakeep_disable_password_auth | default(omit, true) }}"
  OAUTH_WELLKNOWN_URL: "{{ karakeep_oauth_wellknown_url | default(omit, true) }}"
  OAUTH_CLIENT_SECRET: "{{ karakeep_oauth_client_secret | default(omit, true) }}"
  OAUTH_CLIENT_ID: "{{ karakeep_oauth_client_id | default(omit, true) }}"
  OAUTH_SCOPE: "{{ karakeep_oauth_scope | default(omit, true) }}"
  OAUTH_PROVIDER_NAME: "{{ karakeep_oauth_provider_name | default(omit, true) }}"
  OAUTH_ALLOW_DANGEROUS_EMAIL_ACCOUNT_LINKING: "{{ karakeep_oauth_allow_dangerous_emailo_account_linking | default(omit, true) }}"
  MAX_ASSET_SIZE_MB: "{{ karakeep_max_asset_size_mb | default(omit, true) }}"
  DISABLE_NEW_RELEASE_CHECK: "{{ karakeep_disable_new_release_check | default(omit, true) }}"
  OPENAI_API_KEY: "{{ karakeep_openai_api_key | default(omit, true) }}"
  OPENAI_BASE_URL: "{{ karakeep_openai_base_url | default(omit, true) }}"
  OLLAMA_BASE_URL: "{{ karakeep_ollama_base_url | default(omit, true) }}"
  OLLAMA_KEEP_ALIVE: "{{ karakeep_ollama_keep_alive | default(omit, true) }}"
  INFERENCE_TEXT_MODEL: "{{ karakeep_inference_text_model | default(omit, true) }}"
  INFERENCE_IMAGE_MODEL: "{{ karakeep_inference_image_model | default(omit, true) }}"
  INFERENCE_LANG: "{{ karakeep_inference_lang | default(omit, true) }}"
  INFERENCE_CONTEXT_LENGTH: "{{ karakeep_inference_context_length | default(omit, true) }}"
  INFERENCE_JOB_TIMEOUT_SEC: "{{ karakeep_inference_job_timeout_sec | default(omit, true) }}"
  EMBEDDING_TEXT_MODEL: "{{ karakeep_embedding_text_model | default(omit, true) }}"
  CRAWLER_NUM_WORKERS: "{{ karakeep_crawler_num_workers | default(omit, true) }}"
  BROWSER_WEB_URL: "{{ karakeep_browser_web_url | default(omit, true) }}"
  BROWSER_WEBSOCKET_URL: "{{ karakeep_browser_websocket_url | default(omit, true) }}"
  BROWSER_CONNECT_ONDEMAND: "{{ karakeep_browser_connect_ondemand | default(omit, true) }}"
  CRAWLER_DOWNLOAD_BANNER_IMAGE: "{{ karakeep_crawler_download_banner_image | default(omit, true) }}"
  CRAWLER_STORE_SCREENSHOT: "{{ karakeep_crawler_store_screenshot | default(omit, true) }}"
  CRAWLER_FULL_PAGE_SCREENSHOT: "{{ karakeep_crawler_full_page_screenshot | default(omit, true) }}"
  CRAWLER_FULL_PAGE_ARCHIVE: "{{ karakeep_crawler_full_page_archive | default(omit, true) }}"
  CRAWLER_JOB_TIMEOUT_SEC: "{{ karakeep_crawler_job_timeout_sec | default(omit, true) }}"
  CRAWLER_NAVIGATE_TIMEOUT_SEC: "{{ karakeep_crawler_navigate_timeout_sec | default(omit, true) }}"
  CRAWLER_VIDEO_DOWNLOAD: "{{ karakeep_crawler_video_downaload | default(omit, true) }}"
  CRAWLER_VIDEO_DOWNLOAD_MAX_SIZE: "{{ karakeep_crawler_video_downaload_max_size | default(omit, true) }}"
  CRAWLER_VIDEO_DOWNLOAD_TIMEOUT_SEC: "{{ karakeep_crawler_video_downaload_timeout_sec | default(omit, true) }}"
  CRAWLER_ENABLE_ADBLOCKER: "{{ karakeep_crawler_enable_adblocker | default(omit, true) }}"
  OCR_CACHE_DIR: "{{ karakeep_ocr_cache_dir | default(omit, true) }}"
  OCR_LANGS: "{{ karakeep_ocr_langs | default(omit, true) }}"
  OCR_CONFIDENCE_THRESHOLD: "{{ karakeep_ocr_confidence_threshold | default(omit, true) }}"
